@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 225, 242, 235;
  --background-color-rgb: 60, 81, 72;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 225, 242, 235;
    --background-color-rgb: 60, 81, 72;
  }
}

/*
body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-color-rgb));
    
}
*/
